@media screen and (max-width: 1024px) and (min-width: 740px){
  .sideBar{
    display: none !important;
  }

  .messenger{
    grid-template-areas: "list chat info" !important;
    grid-template-columns: calc(20% + 50px) auto 20% !important;
  }
}

@media screen and (max-width: 740px){
    .messenger{
        grid-template-areas: "list chat" !important;
        grid-template-columns: calc(20% + 50px) auto !important;
    }

    .messenger-info{
        display: none !important;
    }

     .sideBar{
        display: none !important;
     }

   .messenger-content_head-action_info{
     display: none !important;
   }

}